<!-- <div>Directiva *ngFor="let heroe of heroes; let i = index" para recorrer arrelgo y pintar en dom</div> -->

<!-- <div>Directiva *ngIf para condicionar</div> -->

<!-- <div>Directiva *ngIf con else : se le agraga ; else condition y se hace referencia (puede ser #local)</div> -->


<p>Listado de Heroes</p>

<div *ngIf="heroesBorrados.length>0; else noBorrado">
    <h3>Heroe Borrado:
     
        <small *ngFor="let heroeBorrado of heroesBorrados; let i = index">
            {{ heroeBorrado }}
        </small>
    </h3>
</div>

<ng-template #noBorrado>
    <h3>No ha borrado nada.</h3>
</ng-template>

<button (click)="borrarHeroe(0)">
    Borrar
</button>

<ul>
    <li *ngFor="let heroe of heroes; let i = index">
        {{ i + 1 }} - {{ heroe }}
    </li>
</ul>

